

<div class="min-h-screen flex flex-col bg-sky-800 text-white px-4 sm:px-6 lg:px-8">

  <!-- Título centrado -->
  <div class="mt-20 text-center">
    <h1 class="text-3xl font-semibold text-orange-500">
      Lista personalizada de perros
    </h1>
  </div>

  <!-- Search Box centrado y espaciado -->
  <div class="my-10 flex justify-center">

    <seacrh-box-component (loadListByName)="newName($event)" />

  </div>

  <!-- Dog list -->
  <div class="mx-auto w-full max-w-7xl px-2 sm:px-4">
    <dog-list-component
      (dogId)="setDogId($event)"
      (dogName)="setDogName($event)"
      (dogUrl)="setImageDog($event)"
      [dogList]="loadListFilter()"
    />
  </div>

  <!-- Sección de perro a agregar -->
  <div class="mx-auto w-full max-w-screen-lg px-2 sm:px-4 mt-10">
    <h2 class="mb-5 font-bold text-xl">Perro a agregar:</h2>

    @if (dogName().length > 0) {
      <div class="mb-4 text-center font-bold text-xl">
        <ul>{{ dogName() | titlecase }}</ul>
      </div>

      <div class="flex justify-center mb-5">
        <button
          (click)="addDog()"
          class="cursor-pointer bg-white text-gray-800 px-6 py-2 rounded-lg font-semibold hover:bg-gray-200 transition"
        >
          Agregar
        </button>
      </div>
    }

    <!-- Dog cards -->
     <div class="justify-items-center">
      <div>
        <dog-card-component
      (dogIdDeleted)="removerCard($event)"
      [dogListCards]="newlistCardsDog()"
      [dogImage]="dogUrl()"
      [dogId]="dogId()"
      [dogName]="dogName()"
    />
      </div>

     </div>

  </div>

</div>
