<!-- Create by Joker Banny -->









  <div class="w-full max-w-[75%] md:max-w-2xl mx-auto overflow-hidden rounded-xl bg-sky-900 p-5 shadow-sm">
  <div class="flex flex-col sm:flex-row items-stretch rounded-md bg-gray-200 overflow-hidden focus-within:outline focus-within:outline-blue-500">

    <input
      type="text"
      placeholder="Search Tag"
      class="w-full bg-gray-100 px-4 py-2.5 text-gray-700 focus:outline-none"
      (keyup)="onNewSearch(txtNewDog.value)"
      #txtNewDog
    />

    <button
      (click)="onSearch()"
      class="flex items-center justify-center bg-blue-500 px-4 py-2 text-white hover:bg-blue-600 transition-colors"
    >
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
        stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
        <path stroke-linecap="round" stroke-linejoin="round"
          d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
      </svg>
    </button>
  </div>
</div>
